[Unit]
Description=Setting fan duty when host power off

[Service]
Restart=simple
ExecStart=/usr/bin/env controlFan.sh power-off
SyslogIdentifier=setting-fan-poweroff
TimeoutSec=infinity

[Install]
WantedBy=obmc-chassis-poweroff.target
