[Unit]
Description=IPMI Event-only Sensor
StopWhenUnneeded=false
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/eventsensor

[Install]
WantedBy=multi-user.target
