[Unit]
Description=Power state handler implementation
StopWhenUnneeded=false
After=xyz.openbmc_project.EntityManager.service
Before=xyz.openbmc_project.Chassis.Control.Power@0.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/env mct-power-handler
SyslogIdentifier=mct-power-handler

[Install]
WantedBy=multi-user.target