[Unit]
Description=Assert %I 
StartLimitIntervalSec=6
StartLimitBurst=1

[Service]
Type=oneshot
ExecStart=/usr/bin/env vrHotHandler assert %I %I
SyslogIdentifier=gpio-vr-hot
RemainAfterExit=true