[Unit]
Description=Assert %I
StartLimitIntervalSec=6
StartLimitBurst=1

[Service]
Type=oneshot
ExecStart=/usr/bin/env prochotThermtripHandler assert CPU_State %I
SyslogIdentifier=gpio-prochot-thermtrip
RemainAfterExit=true