[Unit]
Description=Phosphor-ipmi-flash update BIOS firmware service

[Service]
ExecStart=/usr/sbin/bios-update -p /run/initramfs/bios-image -s 0
ExecStart=rm /run/initramfs/bios-image
Type=oneshot
